@model IssueTracker.Models.RoleViewModel

@{
    ViewBag.Title = "Detaile";
}



<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"> RoleViewModel</h1>
    <p class="mb-4">Project detail.</p>

    <div class="row">
        <!-- DataTales Example -->
        <div class="card col-lg-5 shadow mb-4 mr-5">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Project's Tickets</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>

                                <th>
                                    @Html.DisplayFor(model => model.Name)
                                </th>


                            </tr>
                        </thead>

                        <tbody>
                            <td>
                                 @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                                 @Html.ActionLink("Back to List", "Index")
                                </td>
                        </tr>
                            

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        
        </div>
    </div>

