@model IEnumerable<IssueTracker.Models.Comment>

@{
    Layout = null;
}


<table class="table table-bordered table-striped">
    <thead>
        <tr >
            <th scope="col">Commenter</th>

            <th class="col-8">
                @Html.DisplayNameFor(model => model.Content)
            </th>
            
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
        <tr>

        <td scope="row">@Html.DisplayFor(modelItem => item.Commenter.UserName) </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>

    
        </tr>

    }




        </tbody>
    </table>

